# dependencies
node_modules
/pink

# Next.js build output
.next/
out/
build/

# production / local env files
.env*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# system files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
/coverage

# temporary / output
dist
dist-ssr
.output
.vinxi
.tanstack/**
.nitro
.wrangler/
.dev.vars
